Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @YuraIvanytsky
 Sign out
 Unwatch 4
  Star 0  Fork 0 softservedata/lv269
 Code  Issues 0  Pull requests 0  Projects 0  Wiki Insights 
Branch: master Find file Copy pathlv269/.gitignore
b0596ab  6 days ago
@isobsr isobsr add b.txt
2 contributors @softservedata @isobsr
RawBlameHistory     
94 lines (75 sloc)  1.11 KB
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Binary Files
*.dat

# Addition
# Ignore all temporary files in the root directory
*.[oa]

# Single Module Project
/.externalToolBuilders/
/.settings/
/.metadata/
/.recommenders/
/target/
/bin/
/build/
/doc/
/test-output/
/.classpath
/.project
/.checkstyle
/reports/
/.idea/
*.iml

# Multi Modules Project
/**/.externalToolBuilders/
/**/.settings/
/**/target/
/**/doc/
/**/bin/
/**/build/
/**/test-output/
/**/report/
/**/.classpath
/**/.project
/**/.checkstyle
/**/reports
/**/af.reporting
/**/.idea/
/**/*.iml

# Ignore binary
*.bin

# Ignore log
*.log
*.log.[1234567890]

# Ignore IntelliJ IDEA Config Files
*.stackdump

# Ignore Picture
*.bmp

# Ignore doc/notes.txt, but not doc/info/arch.txt
# doc/*.txt

# Ignore all .txt files in the directory doc/
# doc/**/*.txt

# Ignore .doc .pfd .docx
*.doc
*.docx
*.pdf

# bower
/bower_components/

# npm
/node_modules/
© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About